.table{
    max-width: 1028px;
    border: 1px solid black;
    box-sizing: border-box;
    height: 500px;
    overflow: scroll;
    position: relative;
}

.header{
    position: sticky;
    top: 0;
    z-index: 4;
}

.header li{
    background-color: green;
}


.left{
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: red !important; 
}

.right{
    position: sticky;
    right: 0;
    z-index: 2;
    background-color: blue !important;
}

ul{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    border: 1px solid black;
    box-sizing: border-box;
    height: 100px;
}